*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
}

.col{
    padding: 0 !important;
}

.login-pic{
    height: 400px;
    padding-top: 10px;
    margin-top: 9px;
}

.login-profile{
    margin-top: 35px;
}

.avatar{
    width: 120px;
    height: 120px;
    margin-top: 10px;   
}

.footer-wave::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: url(../svg/wave\ \(4\).svg);
    background-size: cover;
}

form{
    width: 30%;
    margin: 0 auto;
}

form label{
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.5s ease;
}

form label i{
    margin-right: 7px;
}

form input{
    height: 20px !important;
    margin-bottom: 20px !important;
}

.login-profile .btn{
    background-color: #AD1457;
    margin-top: 6px;
}



@media(max-width: 800px){
    .m12{
        text-align: center;
        margin-bottom: 90px;
    }
    form{
        width: 90%;
    }
}

@media(max-width: 768px){
    .m12{
        margin-bottom: 0px;
        height: 366px;
    }
    form{
        width: 90%;
    }
}

@media(max-width: 576px){
    .footer-wave::after{
       height: 150px;
    }

    .login-profile{
        margin: 0 auto;
        margin-top:20px;
    }
}


@media(max-width: 320px){
    .login-profile .avatar{
        width: 100px;
        height: 100px;
    }

    .login-profile h3{
        font-size: 15px;
    }
}
